<div class='mt-4'>
    <h3>Tạo khóa học</h3>
    <form method='POST' action='/courses/store'>
        <div class='mb-3'>
            <label for='name' class='form-label'>Tên khóa học</label>
            <input
                type='text'
                class='form-control'
                id='name'
                aria-describedby='emailHelp'
                name='name'
            />
            <label for='description' class='form-label'>Mô tả khóa học</label>
            <input
                type='text'
                class='form-control'
                id='description'
                aria-describedby='emailHelp'
                name='description'
            />
            <label for='videoId' class='form-label'>Video Id</label>
            <input
                type='text'
                class='form-control'
                id='videoId'
                aria-describedby='emailHelp'
                name='videoId'
            />
            <label for='level' class='form-label'>Trình độ</label>
            <input
                type='text'
                class='form-control'
                id='level'
                aria-describedby='emailHelp'
                name='level'
            />

        </div>

        <button type='submit' class='btn btn-primary'>Thêm khóa học</button>
    </form>
</div>